/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/services/HeroTitle.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.HeroTitle_wrapper__CT_3a {
  position: relative;
  box-sizing: border-box;
  background-color: var(--mantine-color-dark-8) var(--mantine-color-white);
}
  [data-mantine-color-scheme='dark'] .HeroTitle_wrapper__CT_3a {
  background-color: ;
}

.HeroTitle_inner__GTCdv {
  position: relative;
  padding-top: calc(6.25rem * var(--mantine-scale));
  padding-bottom: calc(7.5rem * var(--mantine-scale));
}

@media (max-width: 48em) {

.HeroTitle_inner__GTCdv {
    padding-bottom: calc(5rem * var(--mantine-scale));
    padding-top: calc(5rem * var(--mantine-scale))
}
  }

.HeroTitle_title__AuMX5 {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: calc(3.875rem * var(--mantine-scale));
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: var(--mantine-color-white, var(--mantine-color-black));
}

[data-mantine-color-scheme='dark'] .HeroTitle_title__AuMX5 {
  color: ;
}

@media (max-width: 48em) {

.HeroTitle_title__AuMX5 {
    font-size: calc(2.625rem * var(--mantine-scale));
    line-height: 1.2
}
  }

.HeroTitle_description__jCEm_ {
  margin-top: var(--mantine-spacing-xl);
  font-size: calc(1.5rem * var(--mantine-scale));
}

@media (max-width: 48em) {

.HeroTitle_description__jCEm_ {
    font-size: calc(1.125rem * var(--mantine-scale))
}
  }

.HeroTitle_controls__3vpSc {
  margin-top: calc(var(--mantine-spacing-xl) * 2);
}

@media (max-width: 48em) {

.HeroTitle_controls__3vpSc {
    margin-top: var(--mantine-spacing-xl)
}
  }

.HeroTitle_control__7m8aU {
  height: calc(3.375rem * var(--mantine-scale));
  padding-left: calc(2.375rem * var(--mantine-scale));
  padding-right: calc(2.375rem * var(--mantine-scale));
}

@media (max-width: 48em) {

.HeroTitle_control__7m8aU {
    height: calc(3.375rem * var(--mantine-scale));
    padding-left: calc(1.125rem * var(--mantine-scale));
    padding-right: calc(1.125rem * var(--mantine-scale));
    flex: 1
}
  }

