/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Contact/contact.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.hubspot .ui-app .hubspot-disable-focus-styles a {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.hubspot a {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

label span {
  color: #fff !important;
}

